@use "sass:map";
@use "@/sass/abstract/" as *;

.categories {
  align-items: flex-start;
  background-color: map.get($colors, "white1");
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 24px 24px;
}
