@use "sass:map";
@use "@/sass/abstract" as *;

$header-mobile-height: 72px;

.roadmap-page {
  display: flex;
  flex-direction: column;
  max-width: 1110px;
  height: 100vh;
  margin: 0 auto;

  &__header {
    background-color: map.get($colors, "dark1");
    flex-shrink: 0;
    height: $header-mobile-height;
    padding: 0 map.get($content-margin, "mobile");
  }

  &__title {
    @include typography-heading(heading-3);
    color: map.get($colors, "white1");
    margin-top: 4px;
  }

  &__actions {
    align-items: center;
    display: flex;
    gap: 16px;
  }

  &__main {
    position: relative;
    margin-bottom: 5vw;
    height: calc(100vh - $header-mobile-height);
  }

  &__spinner {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  @include md {
    &__content {
      max-width: map.get($grid-breakpoints, "lg");
      margin: 0 auto;
    }
    &__header {
      padding: map.get($content-margin, "mobile")
        map.get($content-margin, "tablet");
    }
    &__title {
      @include round-border(large);
      @include typography-heading(heading-1);
    }
    &__main {
      padding: 0 map.get($content-margin, "mobile");
    }
  }

  @include xl {
    &__header {
      border-radius: map.get($border-radius, "large");
    }
    &__main {
      padding: 0;
    }
  }
}
