@use "sass:map";
@use "@/sass/abstract" as *;

.sort-and-add {
  background-color: map.get($colors, "dark1");
  color: map.get($colors, "white1");
  height: 56px;
  padding: 0 map.get($content-margin, "mobile");
  position: sticky;
  top: 72px;
  z-index: map.get($z-index, 'sticky');

  &__sort {
    gap: 38px;
  }

  &__select {
    @include typography-body(body-3);
    align-items: center;
    color: map.get($colors, 'white1');
    display: flex;
    gap: 16px;
  }

  &__stats {
    gap: 16px;
  }

  &__operations {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  @include md {
    position: static;
    height: 72px;
    top: 0;
    &__select {
      @include typography-heading(heading-4);
    }
  }

  @include lg {
    position: sticky;
    top: 0;
  }
}
