@use "sass:map";
@use "@/sass/abstract" as *;

.form-field {
  &--full-width {
    width: 100%;
    input:not([hidden]),
    .selct,
    textarea {
      display: block;
      width: 100%;
    }
  }

  &:not(:last-child) {
    margin-bottom: $form-field-margin;
  }

  &__label {
    @include typography-body(body-3);
    display: block;
    margin-bottom: 4px;
  }

  &__label-text {
    color: map.get($colors, "dark2");
    text-transform: capitalize;
  }

  &__label-desc {
    color: map.get($colors, "dark4");
    &:first-letter {
      text-transform: uppercase;
    }
  }

  &__control {
    @include input();

    &::placeholder:first-letter {
      text-transform: uppercase;
    }
    &:-webkit-input-placeholder::first-letter {
      /* Edge */
      text-transform: uppercase;
    }
  }

  &__error {
    @include typography-heading(heading-4);
    color: map.get($colors, "red1");
    font-weight: map.get($font-weight, "regular");
    margin-top: 4px;
  }

  @include md {
    &__label {
      @include typography-heading(heading-4);
    }
  }
}
