@use "sass:map";
@use "@/sass/abstract" as *;

$tab-button-height: 59px;
$tablist-border-height: 1px;

.kanban {
  height: 100%;

  &__tablist {
    display: flex;
    align-items: center;
    border-bottom: $tablist-border-height solid
      rgba($color: map.get($colors, "dark2"), $alpha: 0.25);
  }

  &__tab {
    @include typography-heading(heading-4);
    border-bottom: 4px solid transparent;
    color: map.get($colors, "dark2");
    height: $tab-button-height;
    opacity: 0.4;
    text-transform: capitalize;
    width: 33.33%;

    &[data-selected] {
      opacity: 1;
    }

    &--orange[data-selected] {
      border-bottom-color: map.get($colors, "orange1");
    }
    &--purple[data-selected] {
      border-bottom-color: map.get($colors, "purple1");
    }
    &--blue[data-selected] {
      border-bottom-color: map.get($colors, "blue3");
    }
  }

  &__tabpanel {
    margin: 0 24px;
  }

  &__panels {
    height: calc(100% - ($tab-button-height + $tablist-border-height));
    overflow: auto;
  }
}

