@use "sass:map";
@use "@/sass/abstract" as *;

.kanban {
  /**************Mobile version layout****************************/
  &__tablist {
    display: flex;
    align-items: center;
    border-bottom: 1px solid
      rgba($color: map.get($colors, "dark2"), $alpha: 0.25);
  }

  &__tab {
    border-bottom: 4px solid transparent;
    color: map.get($colors, "dark2");
    height: 60px;
    opacity: 0.4;
    text-transform: capitalize;
    width: 33.33%;

    &[data-selected] {
      opacity: 1;
    }

    &--orange[data-selected] {
      border-bottom-color: map.get($colors, "orange1");
    }
    &--purple[data-selected] {
      border-bottom-color: map.get($colors, "purple1");
    }
    &--blue[data-selected] {
      border-bottom-color: map.get($colors, "blue3");
    }
  }

  &__tabpanel {
    margin: 0 24px;
  }

  /************** Tablet and beyound version layout****************************/
  @include md {
    &--tablet {
      margin-top: 8px;
    }
    &__list {
      display: flex;
      justify-content: space-between;
      gap: 10px;
    }

    &__list-item {
      width: calc(33.3% - 8px);
      flex-shrink: 0;
    }

    @include lg {
      &__list {
        gap: 16px;
      }
      &__list-item {
        width: calc(33.3% - 16px);
        flex-shrink: 0;
      }
    }
  }
}
