@use "sass:map";
@use "@/sass/abstract/" as *;

$line-variants: (
  blue: map.get($colors, "blue3"),
  orange: map.get($colors, "orange1"),
  purple: map.get($colors, "purple1"),
);

.status-board {
  /************ Mobile version layout: kanban stats informaiton****************/
  &__stats {
    margin: map.get($content-margin, "mobile") 0;
  }
  &__stats-metadata {
    margin-left: 8px;
  }
  &__title {
    @include typography-heading(heading-3);
    margin-bottom: 4px;
  }
  &__description {
    @include typography-body(body-3);
    color: map.get($colors, "dark4");
  }

  /*********** Mobile version layout:  kanban item ***************************/
  &__item {
    margin-bottom: 16px;
    background-color: map.get($colors, "white1");
    display: block;
    border: 1px solid transparent;
    overflow: hidden;
  }
  &__item-line {
    height: 6px;
    @each $name, $background-color in $line-variants {
      &--#{"" + $name} {
        background-color: $background-color;
      }
    }
  }
  &__item-content {
    padding: 16px 24px;
    height: 272px;

    &--empty {
      .title {
        text-align: center;
        margin: 24px auto 12px auto;
      }
      .img {
        display: block;
        max-width: 80%;
        margin: 0 auto;
      }
    }
  }
  &__item-heading {
    margin-bottom: 16px;
  }
  &__item-status {
    color: map.get($colors, "dark4");
    gap: 6px;
    text-transform: capitalize;
  }

  &__item-btn {
    color: map.get($colors, "blue1");
    margin-left: 8px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: map.get($colors, "blue2");
    }

    @include touchscreen {
      text-decoration: underline;
    }
  }

  /************************** Tablet & desktop version layout  **********************/

  @include md {
    &__item-content {
      padding: 20px;
    }
    &__item-heading {
      margin-bottom: 14px;
    }
  }

  @include lg {
    &__item-heading {
      margin-bottom: 8px;
    }
    &__description {
      @include typography-body(body-1);
      color: map.get($colors, "dark4");
    }
    &__item-content {
      padding: 24px;
    }
  }

  @include xl {
    &__item-content {
      padding: 24px 32px;
    }
  }
}
