@use "sass:map";
@use "@/sass/abstract/" as *;

$line-variants: (
  blue: map.get($colors, "blue3"),
  orange: map.get($colors, "orange1"),
  purple: map.get($colors, "purple1"),
);

.status-board {
  /************************** Board Stats informaiton**********************/
  &__stats {
    margin: map.get($content-margin, "mobile") 0;
  }
  &__title {
    @include typography-heading(heading-3);
    margin-bottom: 4px;
  }
  &__description {
    @include typography-body(body-3);
  }

  /************************** Board item**********************/
  &__item {
    margin-bottom: 16px;
    background-color: map.get($colors, "white1");
    color: inherit;
    display: block;
    text-decoration: none;
    border: 1px solid transparent;
    overflow: hidden;
  }
  &__item-line {
    height: 6px;
    @each $name, $background-color in $line-variants {
      &--#{"" + $name} {
        background-color: $background-color;
      }
    }
  }
  &__item-content {
    padding: 16px 24px;
  }
  &__item-status {
    align-items: center;
    color: map.get($colors, "dark4");
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
    text-transform: capitalize;
    justify-content: space-between;
  }

  &__item-btn {
    color: map.get($colors, "blue1");
    margin-left: 8px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    @include touchscreen {
      text-decoration: underline;
    }
  }

  @include lg {
    &__item {
      margin-bottom: 24px;
    }
  }
}
