@use "sass:map";
@use "@/sass/abstract" as *;

.spinner {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &--cover {
    height: 100%;
    width: 100%;
  }

  &--center {
    justify-content: center;
  }
}
