@use "sass:map";
@use "@/sass/abstract" as *;

.add-comment {
  &__form {
    margin-bottom: 16px textarea {
      min-height: 80px;
    }
  }

  &__action {
    @include typography-body(body-3);
    color: map.get($colors, "dark4");
    margin-top: 16px;
  }

  &__reminder {
    &--error {
      color: map.get($colors, 'red1');
    }
  }
}
