@use "sass:map";
@use "@/sass/abstract" as *;

.user-icon {
  position: relative;

  &__picture {
    display: flex;

    span {
      color: map.get($colors, "white1");
      margin-left: 8px;
    }

    &--semi {
      svg {
        fill: map.get($colors, "dark4");
      }
    }
  }

  &__svg {
    fill: map.get($colors, "dark4");
    &--active {
      fill: map.get($colors, "purple1");
    }
  }

  &__actions {
    position: absolute;
    right: 0;
    top: 32px;
    text-transform: capitalize;
  }
}
