@use "sass:map";
@use "@/sass/abstract" as *;

$border-color: map.get($colors, "dark4");

.modal {
  height: 100%;
  left: 0;
  position: fixed;
  width: 100%;
  right: 0;
  top: 0;
  z-index: map.get($z-index, "modal");

  &__dialog {
    position: relative;
    height: 100%;
  }

  &__content {
    background-color: map.get($colors, "white1");
    border: 1px solid rgba($color: $border-color, $alpha: 0.4);
    left: 50%;
    max-height: 100%;
    margin: 0 auto;
    padding: map.get($content-margin, "mobile");
    position: absolute;
    overflow: auto;
    top: 50%;
    transform: translate(-50%, -50%);
    width: min(90%, 420px);
  }

  &__body {
    overflow: auto;
    padding: map.get($content-margin, "mobile") 0;
  }

  &__close-button {
    align-items: center;
    border: 1px solid transparent;
    box-sizing: border-box;
    display: inline-flex;
    padding: 4px;
    justify-content: center;

    svg path {
      fill: map.get($colors, "dark4");
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    margin-top: map.get($content-margin, "mobile");
  }

  @include md {
    &__content {
      margin: 0 auto;
      max-width: calc(map.get($grid-breakpoints, "sm") + 24px);
      padding: map.get($content-margin, "tablet");
    }

    &__body {
      padding: map.get($content-margin, "mobile") 0;
    }

    &__footer {
      margin-top: map.get($content-margin, "tablet");
    }
  }
}
