@use "sass:map";
@use "@/sass/abstract" as *;

.auth-page {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  align-items: flex-start;

  a {
    color: map.get($colors, "blue1");
    text-decoration: underline;
  }

  &__header {
    margin-bottom: 16px;
  }

  &__reminder-text {
    margin-top: 4px;
  }

  &__content {
    background-color: map.get($colors, "white1");
    padding: map.get($content-margin, "mobile");
    margin: 20vh auto;
    width: 80vw;
    max-width: 376px;
    min-width: 320px;
  }

  &__footer {
    text-align: right;
  }
}
