@use "sass:map";
@use "@/sass/abstract" as *;

$dot-sizes: (
  small: 8px,
  large: 10px,
);

$dot-variants: (
  blue: map.get($colors, "blue3"),
  orange: map.get($colors, "orange1"),
  purple: map.get($colors, "purple1"),
);

.dot {
  border-radius: 50%;
  display: inline-block;
  height: map.get($dot-sizes, "large");
  width: map.get($dot-sizes, "large");

  &--small {
    height: map.get($dot-sizes, "small");
    width: map.get($dot-sizes, "small");
  }

  @each $name, $background-color in $dot-variants {
    &--#{"" + $name} {
      background-color: $background-color;
    }
  }
}
