@use "sass:map";
@use "@/sass/abstract" as *;

.feedback {
  @include typography-body(body-2);
  display: flex;
  flex-wrap: wrap;

  &__content {
    color: map.get($colors, "dark4");
    flex-grow: 1;
    margin-bottom: 16px;
    width: 100%;
  }

  &__title {
    color: map.get($colors, "dark2");
  }

  &__detail {
    margin: 8px 0;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__vote {
    width: 50%;
  }

  &__comment-stats {
    color: map.get($colors, "dark2");
    width: 50%;
  }

  &__comment-count {
    margin-left: 8px;

    &--gray {
      color: map.get($colors, "dark3");
    }
  }

  @include md {
    align-items: baseline;
    flex-flow: row nowrap;
    gap: 40px;

    &__content {
      margin-bottom: 0;
      order: 2;
      width: auto;
    }

    &__title {
      @include typography-heading(heading-3);
    }

    &__detail {
      @include typography-body(body-1);
      color: map.get($colors, "dark4");
      margin: 4px 0 12px 0;
    }

    &__comment-stats {
      align-self: center;
      order: 3;
      width: auto;
    }

    &__vote {
      order: 1;
      width: auto;
    }
  }
}

.feedback--small-size {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0;

  .feedback__content {
    width: 100%;
    order: 1;
    margin-bottom: 16px;
  }
  .feedback__vote {
    width: 50%;
    order: 2;
  }
  .feedback__comment-stats {
    width: 50%;
    order: 3;
  }
}
