@use "sass:map";
@use "./colors" as *;

$typography-body: (body-1, body-2, body-3);
$typography-heading: (heading-1, heading-2, heading-3, heading-4);

$font-weight: (
  regular: 400,
  semi-bold: 600,
  bold: 700,
);

$font-size: (
  body-1: 16px,
  body-2: 15px,
  body-3: 13px,
  heading-1: 24px,
  heading-2: 20px,
  heading-3: 18px,
  heading-4: 14px,
);

$line-height: (
  body-1: 23px,
  body-2: 22px,
  body-3: 19px,
  heading-1: 35px,
  heading-2: 29px,
  heading-3: 26px,
  heading-4: 20px,
);

$letter-spacing: (
  heading-1: -0.33px,
  heading-2: -0.25px,
  heading-3: -0.25px,
  heading-4: -0.2px,
);

@mixin typography-body($size) {
  color: map.get($colors, "dark2");
  font-size: map.get($map: $font-size, $key: $size);
  line-height: map.get($map: $line-height, $key: $size);
}

@mixin typography-heading($size) {
  font-size: map.get($map: $font-size, $key: $size);
  font-weight: map.get($map: $font-weight, $key: bold);
  letter-spacing: map.get($map: $letter-spacing, $key: $size);
  line-height: map.get($map: $line-height, $key: $size);
}
