@use "sass:map";
@use "@/sass/abstract/" as *;

.nav {
  display: flex;
  gap: 10px;
  margin-bottom: 40px;

  &__item {
   width: 33.333%;
   height: 184px;
  }

  @include lg {
    width: 255px;
    flex-direction: column;
    gap: 24px;
    margin: 0;

    &__item {
      width: 100%;
      height: auto;
    }
  }
}
