@use "sass:map";
@use "@/sass/abstract/" as *;

.playaround {
  background-color: map.get($colors, "white1");
  padding: 20px 24px;

  &__title {
    color: map.get($colors, "dark2");
    margin-bottom: 24px;
  }

  &__sign-in {
    color: map.get($colors, "blue1");

    &:hover {
      text-decoration: underline;
    }
  }
}
